<div class="container">
  <div class="game-boy-wrapper">
    <div class="game-boy">
      <span class="power"  [ngClass]="{'blink':  blink === true}"></span>
      <span class="lines">
        <span class="red"></span>
        <span class="blue"></span>
      </span>
      <div class="game-boy-screen"></div>
      <div class="controls-wrapper">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <div class="cross">
            <div class="controls">
              <div class="row forward">
                <button class="forward top" (click)="forward()" [ngClass]="{'pressed':  keydown === 'KeyW'}">
                </button>
              </div>
              <div class="row left-right">
                <button class="left" (click)="left()" [ngClass]="{'pressed':  keydown === 'KeyA'}">
                </button>
                <button class="middle" (click)="stop()" [ngClass]="{'pressed':  keydown === 'Space'}" >
                  <span></span>
                </button>
                <button class="right" (click)="right()" [ngClass]="{'pressed':  keydown === 'KeyD'}">
                </button>
              </div>
              <div class="row back">
                <button class="back bottom" (click)="back()" [ngClass]="{'pressed':  keydown === 'KeyS'}">
                </button>
              </div>
            </div>
          </div>
          <div class="circle-buttons">
            <button style="margin-right:15px" (click)="honk()" ></button>
            <button (click)="doYourThing()"></button>
          </div>
        </div>
        <div class="menu-buttons">
          <div class="row lights">
            <button class="lights" (click)="lightsOn()" >
            </button>
            <button class="lights" (click)="lightsOff()">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div style="  margin-left:150px; height: 100%; width: 100%;  margin-right:150px;
  height: 100%;">
    <div style="background-color: white;  padding: 16px; display: flex;flex-direction: column; border-radius: 6px; box-sizing: border-box; margin: 0px;  height: 100%; overflow-y: auto; width: 100%;">
      <!-- {{commands | json}} -->
      <lib-data-table
       [data]="logs" [settings]="tableSettings" >
    </lib-data-table>
      <!-- <span  *ngFor="item of commands"  >
        <div >{{item}}</div>
     </span> -->
    </div>
  </div>
</div>

 