:host{
    height: 100%;
    width: 100%;
}

.row{
    display: flex; flex-direction: row;
    div{
        width: 200px;
        padding: 8px;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 160%;
letter-spacing: -0.01em;
font-feature-settings: 'tnum' on, 'lnum' on;
color: #051423;
background-color: white;
    }
}
.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 50px;
    box-sizing: border-box;
}
.power{
    width: 9px;
    height: 9px;
    background: #9e4e4e;
    border-radius: 40px;
    position: absolute;
    top: 176px;
    left: 52px;
    &.blink{
        top: 174px;
        left: 50px;
        width: 10px;
        height: 10px;
      background: #ff1717;
        animation: blinker 1s linear infinite;
        border:solid 1px #9e4e4e;
    }
}

.lines{
    .red{
        position: absolute;
    display: flex;
    width: 314px;
    background-color: rgb(182, 107, 107);
    top: 52px;
    height: 3px;
    left: 52px;
    flex-direction: initial;
    background-color: #8a1d9081;
    box-shadow: 0 6px 0 #28349381;
    }
  
}

  .blink_me {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    40% {
      opacity: 0;
      background: #ff1717;
    }
  }
  
  .game-boy-wrapper {
      display: flex;
      flex-direction: row; 
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .game-boy {
      margin-left:150px;
    background: #eee;
    height: 665px;
    width: 420px;
    border-radius: 8px 8px 60px 8px;
    position:relative;
   }

  .game-boy-screen {
    margin: 36px;
    display: block;
    background-color: #bdde62;
    height: 233px;
    border: solid 40px #777;
    border-radius: 13px 13px 50px 13px;
   }
  
  .controls-wrapper {
     width: 100%;
  }

  .cross {
     display: flex;
     margin-left: 26px;
     width: fit-content;
        .controls{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            .row{
                display: flex;
            }
            button{
                width: 41px;
                height: 41px;
                justify-content: center;
                display: flex;
                align-items: center;
                background-color:#444;

                border: 0px solid #D0D8DB;
                box-sizing: border-box;
                &:active{
                    background-color: #373a3b;   
                }
                &.pressed{
                    background-color: #373a3b;    
                }

                &.top{
                    border-radius: 6px 6px 0px 0px;
                }
                &.bottom{
                    border-radius: 0px 0px 6px 6px ;
                }
                &.right{
                    border-radius: 0px 6px 6px 0px;
                }
                &.left{
                    border-radius: 6px 0px 0px  6px;
                }

                mat-icon{
                    color:#424141
                }
            }

            .middle{
                width: 41px;
                height: 41px;
                justify-content: center;
                display: flex;
                align-items: center;
                background-color:#444;

                border: 0px solid #D0D8DB;
                box-sizing: border-box;
                span{
                    width: 27px;
                    height: 27px;
                    background: #39393966;
                    border-radius: 40px;
                }
            }
        }
   }
  
  .circle-buttons {
    margin: 50px;
    display: flex;
    margin-right: 36px;
    margin-top: 54px;
    display: flex;
    border-radius: 30px;
    -webkit-transform: rotate(-25deg);
    button{
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: #a93671;
        border: none;
        &:active{
            background-color: #6e3854;
        }

        &.pressed{
            background-color: #6e3854;
        }
    }
   }

  .menu-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    button{
    background-color:#524a50;
    height: 30px;
    margin: 5px;
    width: 80px;
    background-color:#524a50;
    border: 1px solid #D0D8DB;
    box-sizing: border-box;
    border-radius: 6px;

    background: #999;
    border-radius: 43px;
    -webkit-transform: rotate(
-25deg);
    border: solid 6px #dfdfdf;
    &:active{
        background-color:#5e595e;


    }
    
    }

   
}

