
.table {
  overflow-x: auto;
}

table {
  // table-layout: fixed;
  width: 100%;

  mat-icon {
    width: 20px;
    height: 20px;
  }

  thead {
    text-align: left;
    th {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 160%;
      letter-spacing: -0.01em;
      color: #44525c;
      border-top: 1px solid #dee5e7;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 20px;

      span {
        display: flex;
        width: 100%;
        align-items: center;
        mat-icon {
          transform: scale(0.7);
          display: flex;
          align-items: center;
        }

        .selected {
          color: #03a9f4;
        }
      }
    }

    th.sortable {
      cursor: pointer;
    }
  }

  tbody {
    background-color: #fff;
    border-radius: 6px;

    ::ng-deep.material-icons {
      font-size: 19px;
      vertical-align: middle;
    }

    td {
      padding-left: 20px;
      padding-right: 20px;
      color: #59666f;
      // height: 38px;
      padding-top: 9px;
      padding-bottom: 9px;
      font-size: 13px;
      vertical-align: baseline;

      span.selected {
        font-weight: 500;
        color: #051423;
      }

      mat-icon {
        color: #59666f;
        font-size: 20px;
        vertical-align: middle;
      }

      .col-icon {
        width: 14px;
        height: 14px;
      }

      &.table-actions {
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: right;
        vertical-align: middle;

        div {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          width: 100%;
          height: 100%;
          visibility: hidden;

          .action {
            width: 34px;
            margin-left: 6px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .back-btn {
              padding: 6px;
              &:hover {
                border-radius: 50px;
                color: #44525c;
                padding: 6px;
                background: #f5f7f8;
              }
            }

            &:hover {
              cursor: pointer;
              mat-icon {
                border-radius: 50px;
                color: #44525c;
                padding: 6px;
                background: #e5eaec;
              }
            }

            mat-icon {
              padding: 6px;
              color: #59666f;
              font-size: 20px;
            }
          }
        }
      }

      &.no-data {
        text-align: center;
        &:hover {
          background-color: #fff;
        }
      }
    }

    tr:hover {
      background-color: #f5f7f8;
      div {
        visibility: visible;
      }
    }

    tr:first-child {
      td:first-child {
        border-top-left-radius: 6px;
        border-top: 1px solid #dee5e7;
        border-left: 1px solid #dee5e7;
      }
      td:last-child {
        border-top-right-radius: 6px;
        border-top: 1px solid #dee5e7;
        border-right: 1px solid #dee5e7;
      }
      td {
        border-top: 1px solid #dee5e7;
      }
    }

    tr:not(:first-child):not(:last-child) {
      td:first-child {
        border-left: 1px solid #dee5e7;
      }

      td:last-child {
        border-right: 1px solid #dee5e7;
      }
    }

    tr:last-child {
      td:first-child {
        border-bottom-left-radius: 6px;
        border-bottom: 1px solid #dee5e7;
        border-left: 1px solid #dee5e7;
      }
      td:last-child {
        border-bottom-right-radius: 6px;
        border-bottom: 1px solid #dee5e7;
        border-right: 1px solid #dee5e7;
      }
      td {
        border-bottom: 1px solid #dee5e7;
      }
    }
  }
}

.table tr.line-break td {
  position: relative;
}

.line-break td:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 100%;
  background-color: #e5eaec;
}

.table tr.line-break td:first-child:after,
.table tr.line-break td:last-child:after {
  width: calc(100% - 20px);
}

.table tr.line-break td:first-child:after {
  right: 0px;
  left: auto;
}

table {
  border-collapse: seperate;
  border-spacing: 0;
}

.check {
  color: #73b330 !important;
}

.hyperlinkIcon {
  width: 12px !important;
  padding-bottom: 2px !important;
  margin-left: 2px;
}

.hyperlink:hover {
  cursor: pointer;
  color: #051423;
  .hyperlinkIcon {
    color: #051423 !important;
  }
}

.table-custom {
  ::ng-deep span:not(:last-child) {
    margin-bottom: 16px;
  }
}

.metric-unit {
  margin-left: 6px;
}
